doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		include ./head
		block link
	body
		include ./header
		block content
		block footer
			.m-footer
				.container
					.p www.zengxianlin.com
	script(src='/libs/scripts/js/include/index.min.js')
