@charset "UTF-8";
.table{
  a{
    display: inline-block;
    padding: 7px 0px;
    border-radius: 4px;
    background: #337ab7;
    color: #fff;
    text-decoration: none;
    width: 50px;
  }
  a.look{
    background: #3D963E;
  }
}
#page{
  a{
    color: #666;
  }
  .active{
    a{
      color: #fff;
      background: #83c44e;
      border-color: #83c44e;
    }
  }
}