extends ../../includes/layout

block content
  .signContainer
    .row
      .signContent.clearfix
        .col-md-5.sign-form
          form#dSigninForm(method="POST", action="/user/signin")
            .signheader 登录
            .modal-body.clearfix
              .form-group.clearfix
                label(for="dSigninName") 用户名
                input#dSigninName.form-control(name="user[name]", type="text" placeholder="账号")
                span.glyphicon.glyphicon-remove-sign.form-clear(aria-hidden="true")
                label#dSigninName-error.error(for="dSigninName" style="display:none")
              .form-group.clearfix
                label(for="dSigninPassword") 密码
                input#dSigninPassword.form-control(name="user[password]", type="password" placeholder="密码")
                span.glyphicon.glyphicon-remove-sign.form-clear(aria-hidden="true")
                label#dSigninPassword-error.error(for="dSigninPassword" style="display:none")
            .modal-footer
              a(href="/"): button.btn.btn-default(type="button") 关闭
              button.btn.btn-success(type="submit") 登录
        .col-md-offset-1.col-md-4
          ul.aside
            li > 还没有帐号？
            a(href="/signup") 立即注册
